@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  .hover_underline_animation-dark {
      display: inline-block;
      position: relative;
      color: #10b981;
  }
    
  .hover_underline_animation-dark::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #10b981;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }
    
  .hover_underline_animation-dark:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
  }

  .hover_underline_animation {
      display: inline-block;
      position: relative;
      color: #065f46;
  }
    
  .hover_underline_animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #065f46;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }
    
  .hover_underline_animation:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
  }
}